*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange-primary: hsl(26, 100%, 55%);
    --pale-orange:  hsl(25, 100%, 94%);
    --dark-blue: hsl(220, 13%, 13%);
    --dark-grayishblue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayishblue: hsl(220, 14%, 75%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --base-size: 1.2rem;
    --scale: 1.25;
    --xxl: calc(var(--xl) * var(--scale));
    --xl: calc(var(--large) * var(--scale));
    --large: calc(var(--medium) * var(--scale));
    --medium: calc(var(--regular) * var(--scale));
    --regular: calc(var(--small) * var(--scale));
    --small: calc(var(--smallest) * var(--scale));
    --smallest: calc((var(--base-size)) / (var(--scale)));
}

body, button {
    overflow-x: hidden;
    font-family: "Kumbh Sans", sans-serif;
    margin: 0;
}

/* multiseletor  */

.sign-add, .sign-remove, .p-mainimg  {
    background-repeat: no-repeat;
    background-position: center;
}

/* header  */

header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.c-logolinks {
    width: 52%;
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    width: 23%;
    height: 100%;
    background-image: url(assets/images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header-page ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 75%;
    justify-content: space-around;
    margin: 0;
}

.header-page ul li a {
    text-decoration: none;
    color: var(--dark-grayishblue);
}

.c-profile {
    /* border: 1px solid blue; */
    width: 11%;
    display: flex;
    justify-content: space-between;
}

.carticon-wrapper {
    width: 40%;
    /* border: 1px solid orange; */
    background-image: url(assets/images/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.imageprofile-wrapper {
    width: 40%;
    /* border: 1px solid black; */
    background-image: url(assets/images/image-avatar.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.line-dashdiv {
    content: "";
    width: 90%;
    margin: 2rem auto;
    border-bottom: 1.5px solid black;
    left: 0;
}


/* container do produto */

section.sect-contproduct {
    width: 100vw;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    height: 80vh;
}

.containerall-div {
    padding: 1rem;
    width: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}

.product-images {
    width: 45%;
    padding: 1rem;
}

.product-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont-prodinfo {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.cont-prodimgs {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* imagens do produto */

.p-mainimg {
    width: 85%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    background-image: url(assets/images/image-product-1.jpg);
    background-size: cover;
}

.p-secimgs {
    width: 85%;
    height: 15%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.p-eachsecimg {
    width: 20%;
    background-color: red;
    height: 100%;
}




/* conteudo do produto */
.titlename-productinfo {
    width: 80%;
    height: 120px;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}

.titlename-productinfo span {
    color: var(--orange-primary);
    font-weight: 700;
}

.titlename-productinfo p {
    color: var(--black);
    font-weight: 700;
    font-size: var(--large);
}

.product-textdesc {
    /* border: 1px solid brown; */
    margin-bottom: 20px;
}

.product-textdesc p {
    font-size: var(--small);
    color: var(--dark-grayishblue);
    font-weight: 400;
}

.product-price {
    /* border: 2px solid red; */
    width: 40%;
    margin-bottom: 30px;
}

.p-pricemain {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.p-pricemain span:first-child {
    font-size: var(--medium);
    font-weight: 700;
}

.p-pricemain span:last-child {
    width: 50px;
    height: 30px;
    background-color: var(--pale-orange);
    border-radius: 10px;
    color: var(--orange-primary);
    font-weight: 700;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.produc-cartquantity {
    width: 100%;
    /* border: 1px solid red; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p-itemquantity {
    width: 30%;
    height: 65%;
    display: flex;
    border-radius: 10px;
    background-color: var(--pale-orange);
}



.sign-add {
    background-image: url(assets/images/icon-plus.svg);
}

.sign-remove {
    background-image: url(assets/images/icon-minus.svg);
}

.qtity-sign {
    width: 30%;
}

.number-qtity {
    width: 40%;
}

.produc-cartquantity button{
    width: 60%;
    height: 75%;
    background-color: var(--orange-primary);
    border-radius: 10px;
    border: none;
    color: var(--white);
    font-size: var(--smallest);
    font-weight: 500;
}

.span-btnwrappercont {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-btnaddcart {
    width: 20%;
    height: 50%;
    background-image: url(assets/images/icon-cart.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.p-eachsecimg {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.p-eachsecimg:hover {
    cursor: pointer;
}

.sec-img-1 {
    background-image: url(assets/images/image-product-1.jpg);
}

.sec-img-2 {
    background-image: url(assets/images/image-product-2.jpg);
}

.sec-img-3 {
    background-image: url(assets/images/image-product-3.jpg);
}

.sec-img-4 {
    background-image: url(assets/images/image-product-4.jpg);
}

.hidden {
    display: none;
}

@media screen and (max-width: 800px){
    .containerall-div {
        flex-direction: column;
        padding: 0;
    }
    .product-images {
        height: 500px;
        padding: 0;
        width: 68%;
    }
}

@media screen and (max-width: 500px){
    section.sect-contproduct {
        height: auto;
    }
    .containerall-div {
        flex-direction: column;
        padding: 0;
    }
    .product-images {
        height: 500px;
        padding: 0;
        width: 100%;
    }
    .containerall-div {
        width: 92%;
    }
    .p-mainimg {
        height: 76%;
        width: 92%;
    }
    .p-eachsecimg {
        width: 23%;
        height: 94%;
    }
    .product-info {
        width: 100%;
    }
    .cont-prodinfo {
        height: auto;
        margin: 3rem 0;
    }
    .titlename-productinfo {
        width: auto;
    }
    .produc-cartquantity {
        height: 66px;
    }

    header {
        height: 40px;
    }

    .ul-headerlinks {
        display: none !important;
    }

    .c-logolinks {
        width: 60%;
    }

    .logo-wrapper {
        width: 40%;
    }

    .c-profile {
        width: 25%;
    }

    .btn-sidebar {
        width: 20%;
    }




    .btn-sidebar {
        display: block;
    }
}